<html xmlns="http://www.w3.org/1999/xhtml"
      lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true"
>

<div class="container-fluid bg-dark fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark mx-auto">
            <a class="navbar-brand" href="/">Typo3</a>
            <button  class="navbar-toggler"
                     type="button"
                     data-toggle="collapse"
                     data-target="#navbarsExampleDefault"
                     aria-controls="navbarsExampleDefault"
                     aria-expanded="false"
                     aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <f:for each="{mainnavigation}" as="mainnavigationItem">
                        <li class="nav-item {f:if(condition: mainnavigationItem.active, then: 'active')}">
                            <a class="nav-link"
                               href="{mainnavigationItem.link}"
                               target="{mainnavigationItem.target}"
                               title="{mainnavigationItem.title}"
                            >
                                {mainnavigationItem.title}
                            </a>
                        </li>
                    </f:for>
                </ul>
            </div>
        </nav>
    </div>
</div>

    <f:render section="Main" />

    <f:debug inline="1">{_all}</f:debug>
</html>