<!DOCTYPE html>
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true" lang="">

<h4>Products Index</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <f:translate key="tx_sitepackage_domain_model_product.uid"/>
                </th>
                <th>
                    <f:translate key="tx_sitepackage_domain_model_product.title"/>
                </th>
                <th>
                    <f:translate key="tx_sitepackage_domain_model_product.description"/>
                </th>
            </tr>
        </thead>
        <tbody>
            <f:for each="{products}" as="product">
                <tr>
                    <td>
                        {product.uid}
                    </td>
                    <td>
                        <f:link.action action="show" arguments="{tea: tea}" pageUid="{settings.singleViewPageUid}">
                            {product.title}
                        </f:link.action>
                    </td>
                    <td>
                        <f:format.raw>{product.description}</f:format.raw>
                    </td>
                </tr>
            </f:for>
        </tbody>
    </table>

    <f:debug inline="1">{_all}</f:debug>
</html>